!rEFInd_configs/
rEFInd_configs/*
!rEFInd_configs/dualboot
logs.log
applications/
desktop_icons/
flatpaks_install_list
deckyloader_installed_version
deckyloader_install_release.sh
deckyloader_uninstaller.sh
cryoutilities_install.sh
emudeck_install.sh
GE-Proton*.tar.gz
configs/
errors